.header-bg {
  background: #000000;
}

.header {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  font-size: 1.12rem;
}

.header-menu a {
  color: #ffffff;
  display: inline-block;
  padding: 1rem 0;
  font-size: 1.125rem;
  border-radius: 4px;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #ffffff;
  margin-top: 4px;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
  transition: 0.5s;
}

@media (width <= 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: #111111;
    padding: 0.75rem 1rem;
  }
  .header-menu a:hover {
    background: #2e2e2e;
    transition: 0.3s;
  }
  .header-menu a:after {
    display: none;
  }
}

@media (width <= 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
