/* Globais e componentes */
@import "./global/global.css";
@import "./utils/typography.css";
@import "./utils/colors.css";
@import "./utils/components.css";
@import "./utils/formulario.css";

/* Header e Menu */
@import "./global/header-menu.css";

/* Footer */
@import "./global/footer.css";

/* Introdução e conteúdos */
@import "./home/introducao.css";
@import "./home/tecnologia.css";

/* Lista de Bikes e Página de Bikes*/
@import "./bikes/bikes-list.css";
@import "./bikes/bikes.css";

/* Página de cada bicicleta */
@import "./bike-page/bike-nimbus.css";
@import "./bike-page/seguro.css";

/* Parceiros */
@import "./home/parceiros.css";

/* Depoimentos */
@import "./home/depoimentos.css";

/* Seguros */
@import "./seguros/seguros.css";
@import "./seguros/vantagens.css";
@import "./seguros/perguntas.css";

/* Contato */
@import "./contato/contato.css";
@import "./contato/lojas.css";

/* Orcamento */
@import "./orcamento/orcamento.css";

/* Páginas Internas - Termos */
@import "./termos/termos.css";
