@import "./global/global.css";
@import "./utils/typography.css";
@import "./utils/colors.css";
@import "./utils/components.css";

@import "./global/header-menu.css";

@import "./home/introducao.css";
@import "./home/tecnologia.css";

@import "./bikes/bikes-list.css";
