.header-bg {
  background: var(--cor-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  font-size: 1.12rem;
}

.header-menu a {
  display: inline-block;
  padding: 1rem 0;
  border-radius: 4px;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: var(--cor-0);
  margin-top: 4px;
  position: absolute;
  transition: 0.5s;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (width <= 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: var(--cor-11);
    padding: 0.75rem 1rem;
  }
  .header-menu a:hover {
    background: var(--cor-10);
    transition: 0.3s;
  }
  .header-menu a:after {
    display: none;
  }
}

@media (width <= 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
